img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 120px;    
}

input{
    font-size: 190%
}

.round {
    border-radius: 25px;
    width: 580px;
    border: 1px lightgray solid;
}

.search {
    text-align: center;
    position: relative;
    top: 100px;
}